<div class="col-xs-6 col-sm-4 cocktail-card">
    <%= link_to cocktail_path(cocktail) do %>
      <div>
        <%= image_tag cocktail.photo, class: "img-responsive" %>
      </div>
      <div>
        <%= cocktail.name.upcase %>
      </div>
    <% end %>
      <div>
        Added by <%= link_to cocktail.user.first_name, user_cocktails_path(cocktail.user), class: "link-to-user" %>
      </div>
</div>
