.review-card {
  margin-top: 20px;

  .review-body {
    padding-left: 10px;
  }
}
.avatar-card-and-rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-content-wrapper {
  margin-top: 20px;
}
